
@{
    Layout = null;
}


@model CRUDusingADO.NETinMVC.Models.Student
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h2>Edit Student Data</h2>
        @using (Html.BeginForm("Edit", "Student", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                     
                        @Html.HiddenFor(model => model.RollNo)
                    </td>                  
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Name)
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Age)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Age)
                    </td>
                 
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Email)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Email)
                    </td>
                   
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DoB)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.DoB)
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.City)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.City)
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.TrainerId)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.TrainerId)
                    </td>
                    
                </tr>
                <td>
                    <input type="submit" value="Save" />
                </td>
                <td>
                    <input type="button" value="Reset" />
                </td>
                
            </table>
         }


        @if (ViewBag.Error != null)
         {
            <p> @ViewBag.Error . Student Edition Failed </p>     
         }

    </div>
</body>
</html>
